[MASTER]
ignore-patterns=.*\_test.py

disable=missing-module-docstring,
    unused-wildcard-import,
    wildcard-import,
    missing-class-docstring,
    consider-using-sys-exit,
    too-few-public-methods,

ignored-classes = scoped_session,